.container-container {
  min-height: 101vh;
}

.container-main-content {
  margin: 2rem;
}

.section-container {
  margin-top: 70px;
}

.section-header-text {
  font-family: 'Audiowide', sans-serif;
  color: #AF3A11;
  font-size: 2.3rem;
  font-weight: 400;
}

.new-cardset-button {
  background-color: #AF3A11;
  color: #fff; 
  padding: 20px; 
  font-size: 26px; 
  border-radius: 8px; 
  cursor: pointer; 
  margin: auto;
  width: 23vw;
  font-weight: 700;
  text-align: center;
}

.new-cardset-button:hover {
  background-color: #8a2f0d;
  transform: scale(1.05);
}

.card-container {
  margin: 80px;
}

.profile-attribute {
  display: flex;
  margin: 35px 0;
}

.profile-attribute-name {
  color: #FF8351;
  font-size: 25px;
  width: 15vw;
}

.profile-attribute-value {
  color: #FF8351;
  font-size: 25px;
}

.card-navigation-container {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
  margin: auto;
  color: #393939;
}

.arrows-container {
  display: flex;
  width: 20vw;
  justify-content: space-evenly;
}

.card-number {
  font-size: 3.5rem;
  color: #000000;
}

.card-navigation-element {
  font-size: 4rem;
  cursor: pointer;
}

.card-navigation-element:hover {
  color: #000000;
}

